/* header */
header,
footer {
    .header {
        overflow: hidden;
        .logo {
            float: left;
            background-image: url('./images/logo.png');
            background-size: 235px 93px;
            width: 235px;
            height: 80px;
        }
        nav {
            float: right;
            height: 80px;
            span {
                display: inline-block;
                height: 80px;
                padding: 0 15px;
                box-sizing: border-box;
                line-height: 80px;
            }
            span:nth-child(5) {
                margin-right: 100px;
            }
            .quit{
                float: right;
                width: 75px;
                height: 30px;
                position: relative;
                img{
                    width: 30px;
                    height: 30px;
                    margin: 25px 30px 25px 15px;
                }
            }
            a {
                color: #6a6a77;
            }
            .active {
                color: #756edc;
                border-bottom: 1px solid #fff;
            }
        }
    }
}
header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    z-index: 9999;
    .header{
        nav{
            .quit{
                .tc{
                    font-size: 14px;
                    position: absolute;
                    top: 53px;
                    left: 2px;
                    color: #7b4adc;
                    display: none;
                }
            }
        }
    }

}
footer {
    // width: 100%;
    height: 147px;
    background-color: #fff;
    color: #6a6a77;
    .header {
        .logo {
            height: 80px;
            background-image: url('./images/footerLogo.png');
        }
        nav {
            height: 80px;
            span {
                height: 80px;
                line-height: 80px;
            }
            button {
                margin-top: 20px;
                margin-right: 36px;
                margin-left: 20px;
            }
            .active {
                color: #756edc;
                border-bottom: none;
            }
            a {
                color: #6a6a77;
            }
        }
    }
    .footerBootom {
        display: block;
        font-size: 12px;
        height: 53px;
        line-height: 53px;
        // padding: 0 36px;
        margin: 0 36px;
        border-top: 1px solid #ccc;
        .icon {
            float: right;
            height: 100%;
            a {
                display: inline-block;
                width: 25px;
                height: 53px;
                background-image: url('./images/icon1.png');
                background-size: 16px 13px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        
    }
}