#footer {
    nav {
        .home {
            border-bottom: 1px solid #ccc;
            a {
            color: #87cdcf;
            }
        }
    }
}
#header {
    nav {
        .home {
            // background-color: #6e45e2;
            border-bottom: 1px solid #fff;
            a {
                color: #fff;
            }
        }
    }
}
.content{
    width: 100%;
    overflow: hidden;
    .banner{
        width: 100%;
        height: 788px;
        background: url("images/bg_01.png") no-repeat;
        background-size: 100%;
        position: relative;
        .slideContent{
            width: 280px;    
            color: #ffffff;
            position: absolute;
            left: 15%;
            top: 35%;
            .smallCaption{
                font-size: 12px;
            }
            h2{
                font-size: 36px;
                margin: 10px 0;
            }
            p{
                font-size: 12px;
            }
            .buttons{
                button{
                    width: 130px;
                    height: 40px;
                    margin-top: 15px;
                    font-size: 10px;
                    font-weight: bold;                    
                    border-radius: 20px;
                    border: none;
                    color: #cccccc;
                    background-color: #ffffff;
                    cursor: pointer;
                    transition: all 0.5s;
                }
                button:hover{
                    color: #ffffff;
                    background-color: #6E45E2;
                }
                button:last-child{
                    margin-left: 5px;
                }
            }
        }
    }
    .mockup{
        width: 100%;
        height: 788px;
        background: url("images/mockup_bg.png") no-repeat;
        background-size: 100%;
        position: relative;
        .content{
            width: 310px;    
            color: #4F4F6F;
            position: absolute;
            right: 20%;
            top: 25%;
            .smallCaption{
                font-size: 12px;
            }
            h2{
                font-size: 36px;
                margin: 10px 0;
            }
            p{
                font-size: 12px;
            }
            .buttons{
                button{
                    width: 130px;
                    height: 40px;
                    margin-top: 15px;
                    font-size: 10px;
                    font-weight: bold;
                    border-radius: 20px;
                    border: none;
                    color: #cccccc;
                    background-color: #ffffff;
                    cursor: pointer;
                    transition: all 0.5s;
                }
                button:hover{
                    color: #ffffff;
                    background-color: #6E45E2;
                }
            }
        }
    }
    .features{
        width: 100%;
        height: 1093px;
        background: url("images/bg_02.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
        text-align: center;
        .features_header{
            padding-top: 80px;
            color: #ffffff;
            .smallCaption{
                font-size: 12px;
            }
            h2{
                font-size: 36px;
                margin: 10px 0;
            }
            p{
                font-size: 12px;
            }
        }
        .features_content{
            width: 850px;
            margin: 0 auto;
            padding: 85px 20px 0 20px;
            text-align: left;
            color: #ffffff;                       
            .projects{
                li{
                    width: 250px;
                    float: left;
                    margin: 25px 10px;
                    span{
                        float: left;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right: 20px;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        background: url("images/project.png") no-repeat center center;
                        background-color: #ffffff;
                    }
                    h3{
                        font-size: 16px;
                        margin-bottom: 15px;
                    }
                    p{
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .testimonial{
        width: 100%;
        height: 830px;
        position: relative;
        .content{
            width: 330px;
            color: #4F4F6F;
            position: absolute;
            left: 20%;
            top: 20%;
            .testimonial_header{
                .smallCaption{
                    font-size: 12px;
                }
                h2{
                    font-size: 36px;
                    margin: 10px 0;
                }
            }
            .testimonial_content{
                margin-top: 60px;
                p{
                    display: inline;
                    font-style: italic;
                }
                .user{
                    margin-top: 30px;
                    color: #9FA4AF;
                    .avatar{
                        float: left;
                        margin-top: -5px;
                        margin-right: 20px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: url("images/userAvatar.png") no-repeat center center;
                        background-color: #68CEF0;
                    }
                    p{
                        font-style: normal;
                        font-size: 10px;
                    }
                }
            }
        }
        .video{
            width: 450px;
            position: absolute;
            right: 20%;
            top: 43%;
            img{
                width: 100%;
                border-radius: 7px;
            }
            .playbtn{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: url("images/media_play.png") no-repeat center center;
                background-color: #6E45E2;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -25px;
                margin-top: -25px;
            }
        }
        .down{
            box-shadow: 0 0 10px #c7c7c7;
        }
    }
    .about_us{
        width: 100%;
        height: 788px;
        background: url("images/bg_03.png") no-repeat;
        background-size: 100%;
        position: relative;
        .left_content{
            .computer{
                position: absolute;
                left: 200px;
                bottom: 90px;
            }
            .circles{
                position: absolute;
                left: 0;
                bottom: 40px;
            }
        }
        .right_content{
            width: 310px;    
            color: #4F4F6F;
            position: absolute;
            left: 60%;
            top: 25%;
            .smallCaption{
                font-size: 12px;
            }
            h2{
                font-size: 36px;
                margin: 10px 0;
            }
            p{
                color: #9fa4af;
                margin-top: 20px; 
                font-size: 12px;
            }
        }
        .down{
            left: 60%;
            bottom: 100px;
            box-shadow: 0 0 10px #c7c7c7;
        }
    }
    .our_team{
        width: 100%;
        height: 930px;
        position: relative;
        text-align: center;
        .our_team_header{
            width: 300px;
            margin: 0 auto;            
            padding-top: 80px;
            color: #4F4F6F;
            .smallCaption{
                font-size: 12px;
            }
            h2{
                font-size: 36px;
                margin: 10px 0;
            }
            p{
                font-size: 12px;
            }
        }
        .our_team_content{
            .teamlist{
                width: 1150px;
                margin: 55px auto;
                li{
                    width: 270px;
                    height: 300px;
                    text-align: center;
                    float: left;
                    margin: 8px;
                    .team_pic{
                        width: 100%;
                        height: 204px;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .team_content{
                        margin-top: 30px;
                        color: #9fa4af;
                        .title{
                            font-weight: bold;
                            font-size: 12px;
                        }
                        .con{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .down{
            bottom: -25px;
            box-shadow: 0 0 10px #c7c7c7;
            z-index: 999;
        }
    }
    .content_bottom {
    width: 100%;
    height: 788px;
    background: url("images/bg_04.png") no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden;
    .bottom_text {
      width: 600px;
      height: 300px;
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -300px;
      color: #fff;
      p, h2 {
        margin: 20px 0;
      }
      p {
        font-size: 12px;
      }
      h2 {
        font-size: 40px;
      }
      span {
        width: 150px;
        height: 40px;
        line-height: 40px;
        margin: 0 10px;
        display: inline-block;
        border-radius: 25px;
        color: #666;
        background-color: #fff;
        font-size: 10px;
        font-weight: bold;
        transition: all 0.5s;
      }
      span:hover {
        background-color: #6e45e3;
        color: #fff;
        transform: scale(1.2);
      }
    }
    img {
      position: absolute;
      left: 50%;
      margin-left: -300px;
      bottom: -150px;
      transition: all 1s;
    }
  }
  .content_bottom img:hover{
    transform: rotate(-6deg) scale(1.1);
    margin-left: -370px;
    bottom: -70px;
  }
}
.down{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    background: url("images/down.png") no-repeat center center;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -25px;
    cursor: pointer;
    transition: all 0.5s;
}
.down:hover{
    background-color: #6E45E2;
}